<h1> Enter the information for a new shelter </h1>

<form action="/shelters" method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type ='text' name = 'shelter[name]' id='name' value = 'Name'/><br/>
  <input type ='text' name = 'shelter[address]'id='address' value = 'Address'/><br/>
  <input type ='text' name = 'shelter[city]' id='city' value = 'City'/><br/>
  <input type ='text' name = 'shelter[state]' id='state' value = 'State'/><br/>
  <input type ='text' name = 'shelter[zip]' id='zip' value = 'Zip'/><br/>
  <input type='submit' value='Submit'/>
</form>
