<div class="navigationbar">
  <a href="/shelters">Shelter Index</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a href="/pets">Pet Index</a>
</div>
<h1>Adopt Don't Shop!</h1>

<img class="welcome"src="http://clipart-library.com/images_k/dogs-transparent-background/dogs-transparent-background-13.png" width="675" height="400"></img>

<p class="welcome"> Click on the links above to find your furever family member today!</p>
